<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Happy Babies</title>

  <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
    crossorigin="anonymous">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <!--END OF PET PALS IMPORT-->





  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Sweet, sweet, baby names</title>
  <link rel="stylesheet" href="/static/css/bootstrap.min.css">
  <script src="https://unpkg.com/simple-statistics@5.0.0/dist/simple-statistics.min.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <style>
    body {
      background-color: unset;
    }

    /* table {
    border-collapse: collapse;
    width: 100%;
} */

    th,
    td {
      text-align: left;
      padding: 8px;
    }

    tbody>tr:nth-child(even) {
      background-color: #f2f2f2 !important
    }

    tbody>tr:nth-child(odd) {
      background-color: #fff !important
    }

    /* th {
  background-color: #2f3439;
  color: white;
} */
  </style>
</head>

<body>

<!-- The sample navigation. We can use it or use something nicer looking-->
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
  
          <a class="navbar-brand" href="index.html">Home</a>
        </div>
  
          <ul class="nav navbar-nav navbar-right">

              <!--<li class="dropdown">-->
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">More Options<span class="caret"></span></a>
                  <ul class="dropdown-menu">

<!--These links do NOTHING. We need to change the names to match the files-->
            <li><a href="interactive.html">Interactive Name Search</a></li>
  
            <li><a href="simple_pinning.html">Story Telling</a></li>
            <li><a href="data.html">Data</a></li>
            <li><a href="about_us.html">About Us</a></li>
          </ul>
        </div>
        <!-- /.navbar-collapse -->
      </div> 
      
      <!-- /.container-fluid -->
    </nav>
  

  <div class="container">
    <div class="jumbotron">
      <h1>
        Baby Name Mania!!!
        <!--<span >2018</span>-->
      </h1>
      
      <p></p>
    </div>

    <div class="row">
      <div class="col-md-4">
        <div class="panel panel-primary">
          <div class="panel-body">
            Find Your Name
          </div>
        </div>
        <div class="company">
          Do you think your name was popular in the United States over the past 130 years? This is your chance to find out! Enter your
          name, cross your fingers, and see if a decent amount of people thought your name was worthy enough to slap on their
          baby.
        </div>
        <hr>
        <div>   </div>
        <div class="company">
          Fine print: Section I. We are looking at the the top 10 names only. If your names falls out of the top ten, we declare it
          UNPOPULAR. Sorry if that seems harsh. Section II. We are searching the turn of the decades only. Again, if that
          seems harsh, we apologize. Please donate to our team and we will be glad to run this project on a bigger, more
          powerful server. Then we will declare your name not necessarily the most popular, but the most revered.
        </div>
      </div>
      <div class="col-md-8">
        <div class="panel panel-default">
          <div class="panel-body">
            Happy Babies
          </div>
        </div>

        <img src="/static/css/Happy_Babies.jpg">
      </div>
    </div>


    <div class="container">

      <div class="row">
        <div class="col-md-offset-2 col-md-8">
          <form method="POST" action="/send" role="form" , name="petform">
            <div class="form-group">
              <label for="inputName">What name would you like to find?</label>
              <input type="text" class="form-control" id="inputName" name="findName" placeholder="Name">
            </div>

            <input type="submit" value="submit" class="btn btn-default">
          </form>
        </div>
      </div>
      <div class="row">
        <div class="col-md-offset-2 col-md-8">

          <p class="result_text">{{name}} was a popular {{gender}} name in: {{answer}}</p>

        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-offset-2 col-md-8">

          <p class="result_text">Is your name making a splash in social media? Here is the latest tweet containing, tweeting from, or tweeting to your name: {{tweeting_name}}</p>

          <p class="result_text">{{additional}}</p>
            
        </div>
      </div>

    </div>



    <script src="plots.js"></script>
</body>

</html>